/* Main container for layout */
.conference {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Optional: Adjust height for full-page view */
  padding: 20px;
  font-family: sans-serif;
}

/* Text section takes up half of the screen */
.conference-text {
  flex: 1;
  padding: 20px;
  margin-left: 6%;
  
}
#CO{
  color: blue;
  font-family: serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #5315a3;
  margin-bottom: 20px;
  font-family: serif;
}

p {
  font-size: 1.5rem;
  color: #333;
  font-family: serif;
}

.event-info {
  margin-top: 10px;
}

.event-info p {
  margin: 5px 0;
}

.upcoming-events {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #00b0b9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.upcoming-events:hover{
  background-color: rgb(18, 18, 73);
}
/* Image section takes up the other half but centers a smaller image */
.conference-image {
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.conference-image img {
  width: 60%; /* Small image, adjust size as needed */
  height: auto;
  border-radius: 8px;
  
}
@media (max-width: 768px) {
  .conference {
    flex-direction: column;
    text-align: center;
    padding-top: 130px;
    
  }

  .conference-image img {
    width: 70%; /* Adjust size for smaller screens */
    height: auto;
  
    display: none;
  }
}
