/* Main container for layout */
.conference {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  font-family: sans-serif;
  background-size: cover;
  background-position: center;
  animation: backgroundChange 10s infinite;
}

/* Animation for rotating background images */
@keyframes backgroundChange {
  0% {
    background-image: url('../../assets/istockphoto.jpg');
  }
  50% {
    background-image: url('../../assets/pexels.jpg');
  }
  100% {
    background-image: url('../../assets/istockphoto.jpg');
  }
}

/* Text section */
.conference-text {
  flex: 1;
  padding: 20px;
  margin-left: 6%;
}

#AN {
  color: #000000;
  font-family: sans-serif;
  font-size: 1.5rem;
}

.conference h1 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.highlight {
  color: #ff5733; /* Custom color for highlighted words */
}

.conference p {
  font-size: 1.5rem;
  color: #ffffff;
}

.event-info {
  margin-top: 10px;
}

.event-info p {
  margin: 5px 0;
}

.upcoming-events {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #00b0b9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upcoming-events:hover {
  background-color: #062c53;
}

/* Responsive styles */
@media (max-width: 768px) {
  .conference {
    flex-direction: column;
    text-align: center;
    padding-top: 130px;
  }
}
