.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
}

.hero-content {
  text-align: center;
  z-index: 1;
  padding: 20px;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-left {
  text-align: left;
  max-width: 50%;
  font-size: 4rem; /* Larger text for the first image */
  margin-left: 5%;
}

.hero-button {
  background-color: #007bff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
#FO{
  color: rgb(33, 4, 80);
  background-color: #007bff;
}

.hero-button:hover {
  background-color: #0056b3;
}
