@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family:  Arial;

}
body{
  min-height: 100vh;
  background-color: #85cbee;
}
a{
  text-decoration: none;
  color: inherit;
}
h1{
font-family: Arial;
}
hr{
  height: 1px;
  background: color #a9a9a9;
}
.app-content{
  display:flex;
}
.flex-col{
  display: flex;
  flex-direction:column;
  gap:10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
